<h4>House</h4>

<div>
  <span>Owner: </span>
  <%= house.owner %>
</div>

<div>
  <span>Address: </span>
  <%= house.address %>
</div>

<div>
  <span>Rooms: </span>
  <%= house.rooms %>
</div>

<div>
  <span>Sqmt: </span>
  <%= house.sqmt %>
</div>

<div>
  <span>Floors: </span>
  <%= house.floors %>
</div>

<div>
  <span>Air cond: </span>
  <%= house.air_cond %>
</div>

<div>
  <span>Price: </span>
  <%= house.price %>
</div>
<hr>