<h4>Complex Building</h4>


<div>
  Owner: <%= complex_building.owner %>
</div>

<div>
  Address: <%= complex_building.address %>
</div>

<div>
  Units: <%= complex_building.units %>
</div>

<div>
  Sqmt: <%= complex_building.sqmt %>
</div>

<div>
  Price: <%= complex_building.price %>
</div>
