<h4>Commecial</h4>

<div>
  Owner: <%= commecial.owner %>
</div>

<div>
  Address: <%= commecial.address %>
</div>

<div>
  Shops: <%= commecial.shops %>
</div>

<div>
  Units: <%= commecial.units %>
</div>

<div>
  Sqmt: <%= commecial.sqmt %>
</div>

<div>
  Parking <%= commecial.parking %>
</div>

<div>
  Price <%= commecial.price %>
</div>

