<%= form_for @commecial, :html => { :class => "form-horizontal commecial" } do |f| %>

  <% if @commecial.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@commecial.errors.count, "error") %> prohibited this commecial from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @commecial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :owner, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :owner, :class => 'form-control' %>
    </div>
    <%=f.error_span(:owner) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :shops, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :shops, :class => 'form-control' %>
    </div>
    <%=f.error_span(:shops) %>
  </div>
  <div class="form-group">
    <%= f.label :units, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :units, :class => 'form-control' %>
    </div>
    <%=f.error_span(:units) %>
  </div>
  <div class="form-group">
    <%= f.label :sqmt, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sqmt, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sqmt) %>
  </div>
  <div class="form-group">
    <%= f.label :parking, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :parking, :class => 'form-control' %>
    </div>
    <%=f.error_span(:parking) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                commecials_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
