<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @commecial.owner %>
</p>

<p>
  <strong>Address:</strong>
  <%= @commecial.address %>
</p>

<p>
  <strong>Shops:</strong>
  <%= @commecial.shops %>
</p>

<p>
  <strong>Units:</strong>
  <%= @commecial.units %>
</p>

<p>
  <strong>Sqmt:</strong>
  <%= @commecial.sqmt %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @commecial.parking %>
</p>

<p>
  <strong>Price:</strong>
  <%= @commecial.price %>
</p>

<p>
  <strong>Float:</strong>
  <%= @commecial.float %>
</p>

<%= link_to 'Edit', edit_commecial_path(@commecial) %> |
<%= link_to 'Back', commecials_path %>
