<!DOCTYPE html>
<html>
  <head>
    <title>RealhouseTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if manager_signed_in? %>
      <ul>
        <li>
        <%= link_to('Logout', destroy_manager_session_path, method: :delete) %>        
        </li>

        <li>
        <%= link_to('House', houses_path) %>  
        </li>

        <li>
        <%= link_to('Complex Building', complex_buildings_path) %>  
        </li>

        <li>
        <%= link_to('Commecial', commecials_path) %>  
        </li>
      </ul>
    <% else %>
      <li>
      <%= link_to('Login', new_manager_session_path) %>  
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
